<div class="form-container">
  <div class="page-layout blank p-24 formDiv" fusePerfectScrollbar fxLayoutAlign="center start">

    <form class="myForm" [formGroup]="eventForm">
      <div class="mb-24" fxLayout="row" fxLayoutAlign="center center">
        <mat-toolbar style="white-space: pre-wrap;" color="primary">
          <span class="toolbar-heading">
            <h1>GNC Registration Form - Only Boys</h1>
          </span>
        </mat-toolbar>
      </div>

      <div class="mb-24" fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>First Name</mat-label>
          <mat-icon matPrefix class="mr-12 s-20 secondary-text">account_circle</mat-icon>
          <input name="name" formControlName="firstName" placeholder="First Name" matInput required>
          <mat-error>"Enter Valid First Name"</mat-error>
        </mat-form-field>
      </div>

      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Last Name</mat-label>

          <mat-icon matPrefix class="mr-12 s-20 secondary-text">account_circle</mat-icon>
          <input name="lastName" formControlName="lastName" placeholder="Last Name" matInput required>
          <mat-error>"Enter Valid Last Name"</mat-error>

        </mat-form-field>
      </div>

      <div class="accomodation-label pb-12" fxLayout="row" fxLayoutAlign="start start">
        <mat-label class="p-12">Gender</mat-label><br />
        <mat-radio-group aria-label="Select an option" value="male" disabled>
          <mat-radio-button class="p-12" value="male">Boy</mat-radio-button>
        </mat-radio-group>
      </div>


      <!--       
      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field class="mr-24" fxFlex appearance="outline">
          <mat-label>Date Of Birth</mat-label>
          <mat-icon matPrefix class="mr-12 s-20 secondary-text">cake</mat-icon>
          <input matInput [matDatepicker]="dp3" [min]="minDate" [max]="maxDate" placeholder="DOB DD/MM/YYYY" readonly
            formControlName="birthday" required (click)="dp3.open()">
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3></mat-datepicker>
          <mat-error>"Enter Valid Birthday"</mat-error>
        </mat-form-field>
      </div> -->

      <div class="mb-24" fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Age</mat-label>
          <mat-icon matPrefix class="mr-12 s-20 secondary-text">cake</mat-icon>
          <input name="age_text" formControlName="age_text" placeholder="Age" matInput required>
          <mat-error>"Enter Valid Age above 13 years old</mat-error>
        </mat-form-field>
      </div>

      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" *ngIf="ageGreaterThan21">

        <mat-form-field floatPlaceholder="always" class="mat-form-field--no-underline" style="width:70%;">
          <!-- the matInput with display:none makes the magic. It's ugly, I've warned you -->
          <input matInput style="display: none" formControlName="role">
          <mat-radio-group aria-label="Select an option" matInput formControlName="role" [required]='ageGreaterThan21'>
            <mat-radio-button value="helper">Helper &nbsp;&nbsp;</mat-radio-button>
            <mat-radio-button value="coordinator">Coordinator &nbsp;&nbsp;</mat-radio-button>
            <!-- <mat-radio-button value="participant">Participant</mat-radio-button> -->
          </mat-radio-group>
          <mat-error>"Choose Valid Role"</mat-error>
        </mat-form-field>
      </div>
      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Center</mat-label>
          <mat-icon matPrefix class="mr-12 s-20 secondary-text">domain</mat-icon>
          <input type="text" matInput placeholder="YMHT Center" formControlName="ymhtLocationGroup" required
            [matAutocomplete]="autoGroup" (blur)="validateLocation($event)">
          <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="displayFn">
            <mat-optgroup *ngFor="let group of centerGroupOptions | async" [label]="group.letter">
              <mat-option *ngFor="let center of group.centers" [value]="center">
                {{center.name}}
              </mat-option>
            </mat-optgroup>
          </mat-autocomplete>
          <mat-error>"Enter Valid Location"</mat-error>

        </mat-form-field>
      </div>
      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" *ngIf="isOtherCenter">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Your city name</mat-label>
          <mat-icon matPrefix class="mr-12 s-20 secondary-text">domain</mat-icon>
          <input name="other_center" formControlName="other_center" matInput placeholder="Enter your city name"
            [required]='isOtherCenter'>
          <mat-error>"Please Enter Your city"</mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="event">
        <div *ngIf="event.accommodation_provided">
          <div class="accomodation-label" fxLayout="row" fxLayoutAlign="start start">
            <mat-label>Utaro ?</mat-label>
          </div>
          <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field floatPlaceholder="always" class="mat-form-field--no-underline" style="width:70%;">
              <!-- the matInput with display:none makes the magic. It's ugly, I've warned you -->

              <input matInput style="display: none" formControlName="accommodation">
              <mat-radio-group aria-label="Select an option" matInput formControlName="accommodation" required>
                <mat-radio-button value="true">Yes &nbsp; &nbsp;</mat-radio-button>
                <mat-radio-button value="false">No</mat-radio-button>
              </mat-radio-group>
              <mat-error>"Please choose: Do you need accommodation (Utaro)"</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div  fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Mobile Number</mat-label>
          <mat-icon matPrefix class="mr-12 s-20 secondary-text">phone</mat-icon>
          <input formControlName="phone" matInput placeholder="Mobile number" required
            (blur)="copyToWhatsappNumber($event)">
          <mat-error>"Enter Valid 10 to 15 Digit Mobile Number"</mat-error>

        </mat-form-field>
      </div>
      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-label style="font-style: italic;">For centres outside India, please also add country code prefix</mat-label>
      </div>
      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Whatsapp Number</mat-label>
          <mat-icon matPrefix class="mr-12 s-20 secondary-text">perm_phone_msg</mat-icon>
          <input formControlName="wapp_number" matInput placeholder="Whatsapp number">
          <mat-error>"Enter Valid 10 Digit Mobile Number"</mat-error>

        </mat-form-field>
      </div>
      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Email</mat-label>
          <mat-icon matPrefix class="mr-12 s-20 secondary-text">email</mat-icon>
          <input name="email" formControlName="email" matInput type="email" placeholder="Email">
          <mat-error>"Enter Valid Email Address"</mat-error>
        </mat-form-field>
      </div>


      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Language</mat-label>
          <mat-select formControlName="language" name="language">
            <mat-option value="Gujarati">
              Gujarati
            </mat-option>
            <mat-option value="Hindi">
              Hindi
            </mat-option>
            <!-- <mat-option value="English">
              English
            </mat-option> -->
          </mat-select>
        </mat-form-field>
      </div>


      <!-- <div class="accomodation-label" fxLayout="row" fxLayoutAlign="start start">
        <mat-label>Do you want to ask question to Pujyashree Deepakbhai ?</mat-label>
      </div>
      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field floatPlaceholder="always" class="mat-form-field--no-underline" style="width:70%;">

          <input matInput style="display: none" formControlName="ask_question">
          <mat-radio-group aria-label="Select an option" matInput formControlName="ask_question" required
            (change)="ask_question_value_chg($event)">
            <mat-radio-button value="true">Yes &nbsp; &nbsp;</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </mat-radio-group>
          <mat-error>"Please choose: Do you want to ask question to Pujyashree Deepakbhai"</mat-error>
        </mat-form-field>
      </div> -->

      <!-- <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" *ngIf="want_to_ask_ques">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Question</mat-label>
          <textarea name="ques_text" formControlName="ques_text" matInput type="textarea" placeholder="Question" required></textarea>
          <mat-error>"Enter Valid question"</mat-error>
        </mat-form-field>
      </div> -->

      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-label style="font-style: italic;">Note: Last date to Register will be 15-June</mat-label>
      </div>
      <button class="submit-btn" color="primary" mat-raised-button type="submit" (click)="submitForm()"
        [disabled]="!eventForm.valid">Submit</button>
    </form>
  </div>


  <div class="fuse-widget-front mat-accent-900-bg mat-elevation-z0 border border-radius-8 px-20 py-8 mx-80 mb-60"
    style="margin: auto;margin-top: -36px;">

    <div class="h4">
      <b> Event name:</b>
      {{event?.name}}
    </div>
    <div class="h4">
      <b> Last date of Registration</b>
      {{ event?.last_date_of_registration | date: "d MMM yyyy"}}
    </div>
    <div class="h4">
      <b> Event Date:</b>
      {{ event?.start_date | date: "d MMM yyyy" }} -
      {{ event?.end_date | date: "d MMM yyyy" }}
    </div>
    <div><b> Fees: </b>{{ event?.fees }}

      <span *ngIf="event?.remarks.length != 0">({{event?.remarks}})</span>

    </div>


    <div>
      <b> Venue: </b>{{ event?.venue.address_1 }},
      {{ event?.venue.address_2 }},
      {{ event?.venue.city }}
    </div>

    <div>
      <b> Contact no.: </b>{{ event?.poc_number }}

    </div>
    <!-- <div> <b> Contact: </b>{{event.contact}}</div> -->
  </div>

</div>