<div id="categories" class="page-layout blank grey-100-bg m-4">

    <div fxLayout="column" fxLayoutAlign="start"  fxLayoutAlign.gt-sm="start start">




        <div [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="column" fxFlex="100">
            <div class="fuse-widget-front mat-white-bg mat-elevation-z0 border border-radius-8">

                <div class="h3 line-height-32 py-4 pl-12 my-4">Categories</div>

                <mat-divider></mat-divider>

                <div id="all-categories" fxLayout="row wrap" fxLayoutGap="10px grid" class="mb-8 p-4">

                    <span *ngFor="let category of categoryList;"  (click)="navigate(category)">
                        <event-category [category-name]="category.category" >
                        </event-category>
                    </span>

                </div>

            </div>
        </div>

    </div>

</div>




<!-- 
<div
    id="boards"
    class="mat-primary-400-bg"
    fxLayout="column"
    fxLayoutAlign="start center"
    fxFlex
    fusePerfectScrollbar
>
    <div class="header pt-44 pt-mat-88" fxFlex="0 0 auto">
        <h1 style="font-size: 60px">Categories</h1>
    </div>

    <div
        class="board-list"
        fxFlex="0 0 auto"
        fxLayout="row wrap"
        fxLayoutAlign="center center"
    >
        <div
            class="board-list-item"
            *ngFor="let category of categoryList"
            (click)="navigate(category)"
            fxLayout="column"
            fxLayoutAlign="center center"
        >
            <mat-icon class="s-64">assessment</mat-icon>
            <div class="board-name" style="font-size: 30px">
                {{ category.category }}
            </div>
        </div>
    </div>
</div> -->
