.register {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    opacity: 0.9;
}

.bg-try {
    background: url('https://c.saavncdn.com/editorial/MehfilEGhazal_150x150.jpg');
    // background: url('https://c.saavncdn.com/editorial/DrivetimeTunes_150x150.jpg');
}


.card-bottom{
    text-align: center;
    font-family: cursive;
    font-size: 16px;
    font-style: italic;
}

.card-header{
    text-align: center;
    font-size: 22px;
    font-style: italic;
}


.card-register{
    cursor: pointer;
}