<div class="fuse-widget-front mat-amber-400-bg mat-elevation-z0 border border-radius-8 w-200">
  
    <div class="pt-16 py-4 px-12 w-120 font-size-18 h-100">{{categoryName}}</div>

    <div>
        <div fxLayout="row" fxLayoutAlign="space-between center"
            class="px-16 py-8 register black-500-bg white-500-fg border-top">
            <span class="h4 text-truncate"> Register </span>
            <span class="h4 ml-8"> <mat-icon>chevron_right</mat-icon> </span>
        </div>
    </div>

</div>