<div class="fuse-widget-front mat-elevation-z0 border border-radius-8 w-260 card-register" [style.background-color]="backColor" >
  
    <div class="pt-16 py-4 px-12 font-size-18 h-100 card-header">
        {{categoryName}}
    </div>
    
    <div class="card-bottom" *ngIf="event">
        <div>{{event?.start_date  | date: "d MMM"}} - {{event?.end_date  | date: "d MMM"}} </div>
        <div>Fees: {{event?.fees}}</div>
    
    </div>

    <div class="card-bottom" *ngIf="!event">
        <div> <br/> </div>
        <div> <br/></div>
    
    </div>



    <div>
        <div fxLayout="row" fxLayoutAlign="space-between center"
            class="px-16 py-8 register black-500-bg white-500-fg border-top " >
            <span class="h4 text-truncate"> Register </span>
            <span class="h4 ml-8"> <mat-icon>chevron_right</mat-icon> </span>
        </div>
    </div>

</div>